/* input {
  width: 100%;
  padding: 12px; /* Some padding 
  border: 1px solid #ccc; /* Gray border 
  border-radius: 4px; /* Rounded borders 
  box-sizing: border-box; /* Make sure that padding and width stays in place 
  margin-top: 6px; /* Add a top margin 
  margin-bottom: 16px; /* Bottom margin 
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) 
}

.container {
  padding: 16px;
}

form {
  border: 3px solid #f1f1f1;
}
.submitBtn {
  background-color: #8ca0b1;
  color: white;
  padding: 14px 20px;
  justify-content: center;
  margin: 8px 0;
  width: 100%;
  display: inline-block;
}
.nav-open {
  margin-left: 200px; /* Adjust this value as per your requirements 
} */



form {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #00467f;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  background-color: #00467f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

