.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 50px;
  border-radius: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.input-container label {
  text-align: left;
  width: 100%;
}

.input-container input {
  width: 100%;
}

h2 {
  text-align: center;
}

.edit-section {
  text-align: center;
}

button {
  margin-top: 10px;
}